@charset "utf-8";

/*顶部*/
.top_bar{width:100%; height:40px; line-height:40px; background:#ebebeb; color:#999;}
.top_bar a{color:#999;}
.top_bar .tel{ cursor:default;}
.top_bar .icon{ display:inline-block; width:25px; height:25px; background:url("..") no-repeat 0 -20px; -webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;-ms-transition: all 0.15s linear;-o-transition: all 0.15s linear;transition: all 0.15s linear; vertical-align:middle; margin-right:5px;}
.top_bar .tel span{font-size:18px; font-weight:bold;}
/*修改2016-5-17开始*/
.top_bar .service{position:relative; z-index:99;}
.top_bar .service span{ background:url("..") no-repeat 0 -92px; display:block; padding-left:25px; cursor:pointer;}
.top_bar .service .code{ background:#fff; border:1px solid #c5c5c5; border-radius:10px; top:40px; left:50%; margin-left:-70px; width:122px; padding:10px 18px; text-align:left; display:none;}
.top_bar .service .code ul li{ display:block; line-height:20px; height:20px; padding-bottom:7px;}
.top_bar .service .code ul li a{ color:#a75300; display:inline-block;}
.top_bar .service .code ul li a .enterprise_qq1{ display:inline-block; width:18px; height:18px; border:1px solid #e0e0e0; border-radius:4px; vertical-align:middle; margin-right:4px; padding:1px 1px; background:#fff;}
.top_bar .service .code ul li a .enterprise_qq1 img{ width:16px; height:16px; margin:0 auto; display:block; }
.top_bar .service .code .arrow{ position:absolute; top:-8px; left:50%; margin-left:-4px; display:block; width:8px; height:9px; background:url(..) no-repeat 0 -179px;}
.top_bar .service:hover span{ background:url(..) no-repeat 0 -129px; color:#a75300;}
/*修改2016-5-17结束*/
.top_bar .focus .icon{float:left; position:relative; z-index:99;-webkit-transition: all 0.15s linear; margin:8px 0 0 5px;}
.top_bar .focus .wb{background-position:-71px -20px;}
.top_bar .focus .wb.cur{background-position:-71px -57px;}
.top_bar .focus .wx{background-position:-106px -20px;}
.top_bar .focus .wx.cur{background-position:-106px -57px;}
.top_bar .code{ position:absolute; top:20px; left:-70px; padding-top:10px; display:none; text-align:center;}
.top_bar .code .border{border:1px solid #ddd; border-radius:3px; width:150px; padding:5px; font-size:12px;line-height:22px; background:#fff;}
.top_bar .code img{ width:150px; height:150px;}
.top_bar .arrow{ width:18px; height:9px; background:url("..") no-repeat -21px 0; position:absolute; top:3px; left:75px;}
.top_bar .nav li{float:left; padding:0 10px;}
.top_bar .nav li.hello{ padding-right:0px;}
.top_bar .nav li.line{ width:1px; height:17px; background:#ddd; padding:0px; margin-top:10px;}
.top_bar .nav .app{ position:relative; z-index:99;}
.top_bar .nav .app .code{ top:30px; left:-30px;}
.top_bar .nav .app span{cursor:default;}
.top_bar .nav .app:hover span{ color:#ac5d00;}
.top_bar .nav .letter .number{ display:inline-block;height:16px; line-height:16px; text-align:center; background:#ac5d00; border-radius:3px;margin-left:5px;color:#fff; padding:0 4px;}
.top_bar .nav .user{ position:relative; z-index:99; display:inline-block; padding-left:0px;}
.top_bar .nav .user .name{ color:#ac5d00;}
.top_bar .nav .user .child{ position:absolute; width:100px; border:1px solid #ac5d00; background:#fff; top:40px; left:50%; margin-left:-58px; display:none;}
.top_bar .nav .user .child a{ display:inline-block; margin:0px; width:100px; height:30px; line-height:30px; text-align:center; color:#666;}
.top_bar .nav .user .child a:hover{ background:#ac5d00; color:#fff;}
.top_bar .nav .user .child .arrow{ width:9px; height:6px;background:url("..") no-repeat; position:absolute; top:-6px; left:45px;}
.top_bar .top_car_ico{ display:inline-block; vertical-align:middle; width:15px; height:15px; background:url("..") no-repeat -53px 0; margin-right:5px;}

/*头部*/
.header{ padding:25px 0 25px 0;}
.header .logo{ float:left;}
.header .logo img{max-height:55px;}
.header .main_nav{float:right; margin-top:10px;}
.header .main_nav .item{float:left; position:relative; z-index:9;}
.header .main_nav .nav{font-size:18px;}
.header .main_nav .nav a{ display:block;color:#333; line-height:40px; padding:0 20px;border-bottom:2px #fff solid;}
.header .main_nav .cur .nav a,.header .main_nav .nav a:hover{background:#e8c109; color:#fff;}
.header .main_nav .arrow{position:absolute; top:-12px; left:50%; margin-left:-6px; display:block; width:0; height:0; border-width:6px; border-style:dashed dashed solid dashed; font-size:0; line-height:0;border-color:transparent transparent #fff transparent;}
.header .main_nav .subnav{ position:absolute; top:40px; width:110px; border:1px solid #f5f5f5; border-top:none;background:#fff; padding:5px 0;display:none;}
.header .main_nav .subnav li{line-height:32px; text-align:center; font-size:16px;}
.header .main_nav .subnav li a{ display:block;}

/*底部*/
.footer{padding:20px 0 30px 0; background:#ac5d00; color:#fff;}
.footer a{ color:#fff;}
.footer a:hover{ color:#e8c109;}
.footer_logo{ float:left;}
.footer_logo img{ max-width:250px;}
.footer_info{ float:left; width:300px; margin:0 0 0 80px;}
.footer_nav{ float:left; width:360px; margin-top:20px;}
.footer_nav li{ width:80px; margin-left:40px; float:left; line-height:35px; font-size:16px;}
.copyright{ text-align:center; border-top:1px solid #c16811; margin-top:20px; line-height:50px;}
.copyright .icon img{ display:inline-block; margin-left:10px; max-height:36px; vertical-align:middle;}

/*弹窗*/
.popup_bg{ width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:999998; _position:absolute; _height:2000px;background:#000; filter: alpha(opacity=30); -moz-opacity: .30; opacity: 0.3;}
.dialog{border:1px solid #ccc;background:#fdfdfd;position:fixed;left:50%;top:100px;_position: absolute;z-index:999999; width:500px;  margin-left:-251px; border-radius:5px;}
.dialog .title{ font-size:16px; line-height:38px; height:38px; padding-left:20px; background:#eee; border-bottom:1px #ddd solid; border-radius:5px 5px 0 0; color:#333;}
.dialog .title .out{background: url("..") no-repeat 0 3px; width:30px; height:28px; display:inline-block; float:right; margin:10px 0 0 0;}
.dialog .content{padding:20px 25px 30px 25px;}
.dialog .tip_information{width:450px;text-align:center; padding:20px 0;}
.dialog .tip_information .doubt,.dialog .tip_information .error,.dialog .tip_information .successful,.dialog .tip_information .question{background:url("..") no-repeat 0 -33px; width:23px; height:23px; display:inline-block;vertical-align:top; margin-top:4px;}
.dialog .tip_information .error{ background-position:0 -67px;}
.dialog .tip_information .successful{ background-position:0 -105px;}
.dialog .tip_information .question{background-position:0 -138px;}
.dialog .tip_information .tips{display:inline-block; text-align:left; margin-left:10px; vertical-align:top; max-width:410px;}
.dialog .table td{border-bottom:1px #ddd solid; line-height:20px; padding:10px; font-size:12px;}
.dialog .table .til td{ background:#f5f5f5; border:0px; font-size:14px;}
.dialog .hd{line-height:24px; margin-bottom:15px;}
.dialog .hd .icon{ width:6px; height:24px; display:inline-block; background:#e8c109; border-radius:3px; vertical-align:top; margin-right:20px;}
.dialog .text_list li:after {display: block; clear: both; height: 0; content:'\20';}
.dialog .text_list li{ zoom:1; margin-bottom:10px;line-height:30px;}
.dialog .text_list .til{ float:left; text-align:right; width:32%;}
.dialog .text_list .con{ float:left; width:68%;}
.bank_dialog{ width:650px; margin-left:-322px;}
.bank_dialog .text_list .til{ float:left; width:25%;}
.bank_dialog .text_list .con{ float:left; width:75%;+width:70%;}
.dialog .prompt_mod{ padding:15px 20px; background:#f8f8f8; line-height:24px;}
.dialog .select_style{width:222px; height:30px; line-height:30px; border:1px solid #ddd; margin-right:10px; vertical-align:middle; padding-left:5px;}
.dialog .text_style{width:220px; height:18px; line-height:18px; border:1px solid #ddd; margin-right:10px; vertical-align:middle; padding:5px;}
.dialog .textarea_style{line-height:24px; border:1px solid #ddd; margin-right:10px; vertical-align:middle; padding:5px;}
.dialog_shipping_address .text_list .til{ width:22%;}
.dialog_shipping_address .text_list .con{ width:78%;}
.dialog_shipping_address .select_style{ width:100px; margin-right:2px;}

/*首页app弹窗*/
.app_popup_bg{ width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:999998; background:#000; filter:alpha(opacity=40);-moz-opacity:.40;opacity:0.4; _position:absolute; _height:2000px;}
.app_dialog{ width:700px; height:521px;position:fixed;left:50%;top:50%;_position: absolute;z-index:999999; margin:-260px -350px;background: url("..") no-repeat;}
.app_dialog .out{background: url("..") no-repeat -290px -531px; width:13px; height:13px; display:inline-block; margin:15px 15px 0 0;}
.app_dialog .highlight{color:#ac5d00!important;}
.app_dialog .con{ width:480px; margin:60px auto 0 auto;}
.app_dialog .button a{ display:block; width:173px; height:70px;background: url("..") no-repeat 0 -531px; border-radius:3px; padding:10px 0 0 100px; color:#fff;}
.app_dialog .button .android{ background-position:0 -621px;}

/*提示*/
.hover_tips{ position:relative;display:inline-block; width:17px; height:17px; background:url("..") no-repeat; vertical-align:middle;}
.hover_tips_con{ position:absolute; top:17px; left:50%; margin-left:-132px; padding-top:7px; display:none;}
.hover_tips_con .border{width:240px; line-height:20px; font-size:12px; padding:5px 14px 5px 10px; background:#fff; text-align:left;}
.hover_tips_con .arrow{width:10px; height:7px;background:url("..") no-repeat 0 -35px; position:absolute; top:1px; left:50%; margin-left:-5px;}
.hover_tips_con .close{width:8px; height:7px;background:url("..") no-repeat -20px -35px; position:absolute; top:13px; right:5px;}

/*项目图标*/
.item_icon{display:inline-block; width:20px; height:20px; line-height:20px; border-radius:3px; color:#fff; font-size:14px; text-align:center; vertical-align:middle; margin-right:5px;}
.xin_icon{ background:#00abff;}
.dan_icon{ background:#ff6046;}
.shi_icon{ background:#80c269;}
.di_icon{ background:#ffb709;}
.novice_icon,.reward_icon{ width:20px; height:20px; line-height:20px; border-radius:50%; border:1px solid #7cbe56; color:#7cbe56;}
.reward_icon{ border:1px solid #ff3e3d; color:#ff3e3d;}
.charity_icon{display:inline-block; width:22px; height:22px;vertical-align:middle; margin-right:5px;background:url("..") no-repeat;}
.novice_xin_icon{background:#7cbe56;}
.reward_jiang_icon{background:#ff3e3d;}

/*内页背景*/
.main_bg{background:url("../user/images/main_bg.png") repeat-x #f5f5f5; padding:20px 0; min-height:600px;}

/*分页*/
.paging{text-align:right; padding-top:20px;}
.paging .cur{border:1px #ddd solid; padding:0 5px; margin:0 3px; color:#fff;}
.paging .cur:hover{ color:#fff;}
.page_input{width:30px;margin:0 5px 0 5px;text-align:center;border: 1px solid #ddd; height:20px; vertical-align:middle;}
.paging a{ border:1px #ddd solid; padding:0 5px; margin:0 3px;}
.paging .btn_ok{ border-radius:3px; font-size:12px; height:22px; line-height:20px;width:50px; color:#fff; display:inline-block; vertical-align:top;cursor:pointer;}
.paging .btn_ok:hover{ color:#fff;filter:alpha(opacity=70);-moz-opacity:.7;opacity:0.7;}
.paging .disabled{ cursor:default; color:#999;}
.paging .disabled:hover{ color:#999;}

/*注册，登录，找回密码*/
.login_mod{ background:#fff; width:922px; margin:0 auto; padding:20px 40px 20px 40px; min-height:450px;}
.login_hd{line-height:24px; margin-bottom:15px; border-bottom:1px solid #ddd; padding-bottom:15px;}
.login_hd .icon{ width:6px; height:24px; display:inline-block; background:#e8c109; border-radius:3px; vertical-align:top; margin-right:20px;}
.login_form .item:after {display: block; clear: both; height: 0; content:'\20';}
.login_form .item{ zoom:1; line-height:34px;}
.login_form .til{ float:left; text-align:right; width:32%;}
.login_form .con{ float:left; width:68%;}
.login_form .input{ border:1px solid #ddd; height:34px; width:330px; margin-right:10px; background:#fff; position:relative;}
.login_form .input i{ display:inline-block; vertical-align:top; width:35px; height:34px; background:url("..") no-repeat;}
.login_form .input i.name_ico{ background-position:8px 6px;}
.login_form .input i.password_ico{ background-position:8px -35px;}
.login_form .input i.verify_ico{ background-position:8px -77px;}
.login_form .input i.phone_ico{ background-position:8px -220px;}
.login_form .input i.email_ico{ background-position:8px -182px;}
.login_form .input i.invite_ico{ background-position:8px -260px;}
.login_form .text{width:285px; height:18px; line-height:18px; border:0px; vertical-align:top; padding:8px 0; background:#fff; +margin-top:-1px;}
.login_form .select{width:332px; height:36px; line-height:36px; border:1px solid #ddd; vertical-align:top; background:#fff;}
.login_form .text2{width:310px; height:18px; line-height:18px; padding:8px 10px; border:1px solid #ddd; vertical-align:top; background:#fff;}
.login_form .prompt{ min-height:20px; line-height:20px; color:red; font-size:12px; padding-bottom:5px;}
.login_form .verify_input{width:125px;}
.login_form .verify_input .text{width:80px;}
.login_form .invite_input{width:165px;}
.login_form .invite_input .text{width:120px;}
.login_form .correct_ico{ position:absolute; top:8px; right:-28px;background:url("..") no-repeat 0 -335px; width:18px; height:18px; display:inline-block; margin-left:2px; vertical-align:middle;}
.other_login a{ display:inline-block; width:18px; height:18px;background:url("..") no-repeat; margin-left:5px; vertical-align:middle;}
.other_login .qq{ background-position:0 -128px;}
.other_login .wb{ background-position:0 -156px;}
.other_login .wx{ background-position:0 -482px;}
.login_form .btn05{ height:34px; line-height:34px;}
.back_way li{ float:left; width:270px; height:110px; line-height:88px; padding-right:12px; text-align:right; color:#fff; font-size:18px; background:url("..") no-repeat; margin:0 38px 30px 0; cursor:pointer;}
.back_way .email{ background-position:-289px 0;}
.back_way .problem{ background-position:-577px 0; margin-right:0px;}
.login_form .problem{ margin-left:295px;}
.login_form .problem li{ margin-bottom:15px;}
.login_form .problem .text{width:320px; height:18px; line-height:18px; border:1px solid #ddd; vertical-align:top; padding:7px 10px; background:#fff; margin-top:5px;}
/*.reg_mod .login_form{ width:580px; float:left;}*/
.reg_mod .login_form .til{width:17%;}
.reg_mod .login_form .con{width:83%;}
.login_form .intensity span{ display:inline-block; width:30px; height:18px; border-radius:18px; background:#eee; line-height:18px; font-size:12px; text-align:center; color:#999; vertical-align:middle;}
.login_form .intensity span.cur{ color:#fff;}
.red_right_mod{ width:340px; float:right;}
.red_right_mod_bg{ width:310px; float:right; height:450px; background:url("/user/images/reg_bg.jpg") no-repeat center bottom #ebebeb; margin-top:38px;}
.login_hd02{ background:#f2f2f2; padding:10px 20px; font-size:16px;}
.red_bg{ width:100%; padding:40px 0; background:#f6db44;}
.red_bg .login_mod{box-shadow:0 0 5px #e8c109;}
.login_footer a{ margin:0 10px;}
.login_bg{ width:100%; padding:60px 0; background:#f6db44;}
.login_bg_pic{background:url("..") no-repeat;}
.login_bg .login_mod{box-shadow:0 0 5px #e8c109; width:420px; padding:20px 30px; float:right;}
.login_bg .login_form .til{width:17%;}
.login_bg .login_form .con{width:83%;}

/*注册页面修改*/
.registered_box{background-position: center center; background-size:cover; position:relative;}
.red_click{ display:block; position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:1;}
.registered_box .login_mod{ width:380px; height:520px; padding:40px 0 0 100px; background:url(..) repeat; position:absolute; right:50%; top:80px; z-index:2; margin-right:-501px; border-radius:4px;}
.form_appearance{ color:#fff;}
.registered_box .login_mod .login_hd{ border:0; margin-bottom:0; padding-bottom:20px; padding-right:40px; line-height:40px;  }
.form_appearance .input{border:1px solid #ddd; height:34px; width:280px; margin-right:10px; background:#fff; position:relative; border-radius:4px;}
.form_appearance .text{width:226px; height:18px; line-height:18px; border:0px; vertical-align:top; padding:8px 0; background:#fff; +margin-top:-1px; border-left:1px solid #e5e5e5; padding-left:10px;}
.form_appearance .input label{ position:absolute; line-height:34px; left:49px; top:0; color:#bbbccc; cursor:text; background:none;}
.form_appearance .intensity span{display:inline-block; width:18px; height:18px; border-radius:2px; background:#999; line-height:18px; font-size:12px; text-align:center; color:#fff; vertical-align:middle;}
.form_appearance .intensity span.cur{ color:#fff;}
.form_appearance .invite_input{ width:178px;}
.form_appearance .invite_input .text{ width:128px;}
.form_appearance .agreement_t{ color:#ffa200;}
.form_appearance .verify_input{width:178px;}
.form_appearance .verify_input .text{width:80px;}
.form_appearance .item .login_bt{ width:280px; height:40px; line-height:40px; color:#fff; font-size:16px; text-align:center; display:block; background:#ce8500; border-radius:6px; cursor:pointer;}
.form_appearance .item .login_bt:hover{ color:#fff;}
.registra_mod .login_form .con{ width:100%;}
.form_appearance .til span{ padding-right:8px;}
.login_hd .agreement_t{ color:#ffa200;}

/*登录页面修改*/
.login_header{ padding:25px 0 25px 0;}
.login_header .logo{ float:left;}
.login_page_box{background-position:center; background-size:cover; position:relative; padding:0;}
.login_page_box .login_mod{ width:480px; padding:40px 0 0 0; height:528px; background:url(..) repeat; position:absolute; right:50%; top:80px; z-index:2; margin-right:-501px; border-radius:4px; box-shadow:0 0 0 0;}
.landing_port{ padding:0 0 0 100px;}
.login_page_box .login_mod .login_hd{ border:0; margin-bottom:20px; padding-bottom:20px;}
.wjmm_box{ position:relative;}
.wjmm_text{ position:absolute; right:31px; top:0;}
.logindx_k .login_form .con{ width:100%;}
.logo_line{ width:1px; height:40px; background:#666; margin-left:20px; margin-top:9px;}
.welcome_t{ line-height:50px; padding-left:20px;}
.welcome_t .yellow_color{ color:#ffa200;}
.form_appearance .prompt{ min-height:20px; line-height:20px; color:red; font-size:12px; padding-bottom:10px;}
.third_party{ border-top:1px dashed #fff; width:280px;}

/*微信登录*/
.other_login .figure_ico{ width:30px; height:30px; margin:0 15px 0 0;}
.other_login .qq_figure{ background-position:0 -362px;}
.other_login .wb_figure{ background-position:0 -402px;}
.other_login .wx_figure{ background-position:0 -442px;}
.login_prompt{ font-size:18px; color:#fff; line-height:36px; text-align:center; padding-top:30px;}
.login_hd .yellow_color{ color:#ffa200;}
.home_code{ margin:0 auto; width:132px; height:132px; margin-top:20px;}

/*提示*/
.tip_info{max-width:900px; text-align:center; margin:0 auto;}
.tip_info .doubt,.tip_info .error,.tip_info .successful{background:url("..") no-repeat; width:50px; height:50px; display:inline-block;vertical-align:middle;}
.tip_info .error{ background-position:0 -50px;}
.tip_info .successful{ background-position:0 -100px;}
.tip_info .tips{display:inline-block; text-align:left; margin-left:15px; vertical-align:middle; max-width:830px;}
.steps .complete_ico{background:url("..") no-repeat 0 -150px; width:54px; height:54px; vertical-align:middle; margin:0 auto;}

/*button*/
.btn01,.btn02,.btn03,.btn04,.btn05,.btn06,.btn07,.btn08,.resend_btn{display:inline-block; border:none; cursor:pointer; text-align:center; color:#fff; border-radius:30px; padding:0 15px; font-size:16px;}
.btn01:hover,.btn02:hover,.btn04:hover,.btn06:hover,.btn07:hover{color:#fff;}
.btn01{min-width:80px; height:32px; line-height:32px;}
.btn02{min-width:80px; height:32px; line-height:32px; background:#ff6e03;}
.btn02:hover{background:#ff8b35;}
.btn03{min-width:78px; height:30px; line-height:30px; border:1px solid #83b7e2; color:#83b7e2;}
.btn03:hover{color:#83b7e2;}
.btn03_gray{ border:1px solid #ccc; color:#999;}
.btn03_gray:hover{ color:#999;}
.btn04{min-width:50px; height:26px; line-height:26px; font-size:14px;}
.btn05{min-width:60px; height:28px; line-height:28px; border-radius:0px; font-size:14px; vertical-align:middle;}
.btn06{min-width:120px; height:40px; line-height:40px;font-size:18px;}
.btn07{min-width:80px; height:40px; line-height:40px; padding:0 30px;}
.btn_gray{background:#c5c5c5 !important;}
.btn_disabled{cursor:default;}

/*浮层*/
.floating_layer{position:fixed;right:10px;bottom:30px;z-index:1000;}
.floating_layer li{height:60px;width:60px; margin-bottom:5px;}
.floating_layer .item{height:60px;width:60px;display:block;position:relative;}
.floating_layer i{background:url('..') no-repeat;height:60px;width:60px;display:block; position:absolute; right:0px; z-index:9;}
.floating_layer i:hover{background:url('..') no-repeat;}
.floating_layer .con{width:0;right:30px; height:60px; line-height:60px; border-radius:30px 0 0 30px; color:#fff; background:#ffdc36; position:absolute;overflow:hidden;white-space:nowrap;-webkit-transition: 0.25s;-moz-transition: 0.25s;transition: 0.25s; color:#fff; z-index:8; font-size:20px;color:#ac5d00;}
.floating_layer .item:hover .con{width:auto; padding:0 40px 0 20px;overflow:visible;}
.floating_layer .code .con img{margin-top:-30%; border:10px solid #ffdc36;border-radius:6px; width:0px;}
.floating_layer .code:hover .con{padding-left:0px}
.floating_layer .code:hover .con img{ width:132px; height:132px;}
.floating_layer .computer i{background-position:0 0;}
.floating_layer .computer:hover i{background-position:0 -67px;}
.floating_layer .computer .con .text{margin-top:-15%; border-radius:6px; width:0px; background:#ffdc36;}
.floating_layer .computer:hover .con{padding-left:0px}
.floating_layer .computer .con .text{ width:100px; height:80px; text-align:center; padding:10px 25px; line-height:40px;}
.floating_layer .computer .con .text a{ display:inline-block; color:#ac5d00;}
.floating_layer .computer .con .text a:hover{color:#333;}
.floating_layer .computer .con .text .border_b{ border-bottom:1px solid #ac5d00;}
.floating_layer .service i{ background-position:-67px 0;}
.floating_layer .service:hover i{ background-position:-67px -67px;}
.floating_layer .back i{ background-position:-134px 0;}
/*修改2016-5-17开始*/
.floating_layer .service .con .service_box ul li{ line-height:24px; height:24px; margin-bottom:0;}
.floating_layer .service .con .service_box ul li a{ color:#ac5d00; font-size:14px; line-height:26px; height:26px;}
.floating_layer .service .con .service_box{ border-radius:6px; width:0px; background:#ffdc36; }
.floating_layer .service:hover .con{padding-left:0px}
.floating_layer .service .con .service_box{width:115px; border-radius:6px; height:auto; padding:18px 10px;}
.floating_layer .service .con .service_box ul li a .enterprise_q1{ display:inline-block; width:18px; height:18px; border:1px solid #e0e0e0; border-radius:4px; vertical-align:middle; margin-right:4px; padding:1px 1px; background:#fff;}
.floating_layer .service .con .service_box ul li a .enterprise_q1 img{ width:16px; height:16px; display:inline-block;}

/*修改2016-5-17结束*/
.floating_layer .back:hover i{ background-position:-134px -67px;}
.floating_layer .code i{ background-position:-199px 0;}
.floating_layer .code:hover i{ background-position:-199px -67px;}

/*头底颜色*/
.top_bar .nav .app:hover span{ color:#ac5d00;}
.top_bar .nav .letter .number{ background:#ac5d00;}
.top_bar .nav .user .name{ color:#ac5d00;}
.top_bar .nav .user .child{border:1px solid #ac5d00;}
.top_bar .nav .user .child a:hover{ background:#ac5d00;}
.header .main_nav .cur .nav a,.header .main_nav .nav a:hover{background:#e8c109;}
.footer{background:#ac5d00;}
.footer a:hover{color:#e8c109;}
.copyright{border-top:1px solid #c16811;}

/*模拟下拉框*/
.select-wrapper{
  font: normal 14px '\5FAE\8F6F\96C5\9ED1';
  /*width: 240px;*/
  /*height: 34px;*/
  position: relative;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *float: left;
  *margin-right: 10px;
  background: #fff;
  border: 1px solid #ddd; margin-right:5px;
}
/*.select-wrapper.focus{
  border: 1px solid #61b988;
}*/
.select-button{
  /*width: 238px;*/
  /*height: 34px;*/
  border: 0;
  background: #fff;
  cursor: pointer;
  padding: 0 26px 0 10px;
  overflow: hidden;
  text-align: left;
  outline: none;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  line-height: 0px\0;
}
.select-down{
  position: absolute;
  top: 21px;
  right: 10px;
  height:0;
  width:0;
  overflow: hidden;
  font-size: 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
}
.disabled{
  color: #cccccc;
}
.select-list{
  /*width: 238px;*/
  background: #fff;
  border: 1px solid #ddd;
  border-top:none;
  display: none;
  z-index: 2;
  position: absolute;
  left: -1px;
  top: 35px;
  overflow: auto; max-height:280px;
}
.select-list ul{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /*line-height: 34px;*/
  /*max-height: 240px;*/
}
.select-list ul li{
  width: auto ;
  /*height: 34px;*/
  padding-left: 10px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis; float:none; margin-bottom:0px !important; text-align:left;
}
.select-list ul li.selected,
.select-list ul li:hover{
  color: #fff;
  background: #61b988;
}

/* 下拉列表不可用样式 */
.select-button-disable{
  color: #ccc;
  /*width: 238px;*/
  /*height: 34px;*/
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  padding-left: 10px;
  overflow: hidden;
  text-align: left;
  outline: none;
}
.select-down-disable{
  color: #ccc;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 10px;
  /*line-height: 34px;*/
}
.select-list ul li.selected,.select-list ul li:hover{background: #23a0fa;}/*下拉框*/
.select-wrapper .border_focus{ border:none!important;}

/*2016.8优化*/

.registered_box .login_mod{ width:420px; padding-left:60px;}


/*button-coffee-color*/
.btn01,.btn04,.btn06,.btn07{background:#ac5d00;}
.btn05{ border:1px solid #ac5d00;color:#ac5d00;}
.btn01:hover,.btn04:hover,.btn06:hover,.btn07:hover{background:#c58d4c;}/*透明度70%*/

/*skin-coffee-color*/
a:hover{color:#ac5d00;}
.highlight{color:#ac5d00!important;}
.btn05{color:#ac5d00;}
.hover_tips_con .border{ border:1px solid #ac5d00;}/*提示*/
.border_focus{ border:1px solid #d3bb9f !important;}/*输入框聚焦颜色，主色颜色透明度百分三十*/


/*skin-yellow-color*/
.highlight2{color:#e8c109!important;}
.paging a:hover{ color:#e8c109;}
.paging .cur{ background:#e8c109; border:1px solid #e8c109;}/*分页当前文字颜色*/
.paging .btn_ok{ background:#e8c109;}/*分页按钮颜色*/
.dialog .hd .icon{background:#e8c109;}/*弹窗标题*/
.login_hd .icon{background:#e8c109;}/*注册标题*/
.login_form .intensity span.cur{background:#ce8500;}/*注册密码安全强度*/