<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"  default-autowire="byName">
	
	
	
   <!-- 注入实现类 -->
   <!-- <bean id="userServiceImpl" class="com.jk.service.impl.UserServiceImpl"></bean> -->
   <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的,保持唯一性 -->  
   <dubbo:application name="dubbo_provider"></dubbo:application>  
   <!-- 使用zookeeper注册中心暴露服务地址 -->    
   <dubbo:registry address="zookeeper://127.0.0.1:2181" register="" check="false" subscribe="false" />
   <!-- dubbo端口号 -->  
   <dubbo:protocol name="dubbo" port="20882" ></dubbo:protocol>
	<dubbo:provider timeout="1000"></dubbo:provider>
<!--
   <dubbo:service interface="com.six.service.ZSDebtmanagemenService" ref="debtmanagemenService" timeout="30000"></dubbo:service>
-->
	<dubbo:service interface="com.six.service.ZSDebtmanagemenService" ref="debtmanagemenService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSDebenturetransferService" ref="debenturetransferService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSPersonalloanintentionService" ref="personalloanintentionService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSLoansService" ref="loansService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSShouYeService" ref="shouYeService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSOrderService" ref="orderService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.ZSEchartsService" ref="echartsService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbRepaymentService" ref="whbRepaymentService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbRepaymentServiceTwo" ref="whbRepaymentServiceTwo" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbXianShangOnetService" ref="whbXianShangOnetService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbXianXiaOnetService" ref="whbXianXiaOnetService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbRepaymentServiceSan" ref="whbRepaymentServiceSan" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbEnterpriseService" ref="whbEnterpriseService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbClaimsService" ref="whbClaimsService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbAdvanceService" ref="whbAdvanceService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbBadService" ref="whbBadService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbContractService" ref="whbContractService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbLogService" ref="whbLogService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbAreasService" ref="whbAreasService" timeout="30000"></dubbo:service>
	<dubbo:service interface="com.six.service.WhbLogYiChangService" ref="whbLogYiChangService" timeout="30000"></dubbo:service>

</beans>
